.gameBackgroundPanel {
	width: 50%;
    margin: 0 25% 0 25%;
    background-color: rgba(0,0,0,0.6)!important;
    height: 75%;
    border: none;
}

.gamesPanelGrid {
	background: black;
}

.gamesList {
	
}

.gamesListColumn {
	color: white !IMPORTANT;
    background: black !important;
}

.gamesOutputText {
	color: yellow !important;
}