@font-face {
    font-family: falconPunch;
    src: url(/falconpunch3d.ttf);
}

body {
	margin: 0;
	padding: 0;	
}

.bg {
	width: 100%;
	height: 100%;
	z-index: -1;
    position: fixed;
}

#container {
	
}

#content {
	
}

#header {
    padding: 1px 1px 1px 1px;
    background-color: rgba(0,0,0,0.6)!important

}

#header h1 {
	color: #ffb81c;
    text-align: center;
    font-size: 30px;
    font-family: falconPunch;
}

#footer {
}

#footer p {
	color: #fff;
	float: right;
}