<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>${artifactId}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<h:outputStylesheet name="css/startpage.css" />
</h:head>
<h:body>
	<img src="resources/gfx/bg.png" class="bg" />	
	<div id="container">
		<div id="header">
			<h1>Hockey Probability</h1>
		</div>
		<div id="content">
			<ui:insert name="content">
                    [Template content will be inserted here]
         </ui:insert>
		</div>
		<div id="footer">
			<p>
				Data provided by corsica.hockey <br />
			</p>
		</div>
	</div>
</h:body>
</html>