#headline {
    text-align: center;
    background-color: rgba(199, 15, 39, 0.93);
    width: 60%;
    margin: 10px auto;
    height: 10%;
    border-radius: 5px;
}

#headline h1 {
    font-size: 50px;
    margin: 5px auto;
    padding-top: 5px;
    color: #fff;
    font-family: Falcon;
}

.mainDiv {
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 1px auto;
}

@font-face {
    font-family: 'Falcon';
    src: url('falconpunch3d.ttf') format('truetype');
}