<div class="gamesComponentDiv">
    <div class="gameBackgroundDiv">
		<table id="maintable">
			<thead>
				<tr>
					<th>Win %</th>
                    <th>Home team</th>
                    <th>Away team</th>
                    <th>Win %</th>
				</tr>
			</thead>
			<tbody *ngFor="let game of games" >
				<tr>
					<td>{{game.homeTeamChance}}</td>
					<td>{{game.homeTeamName}}</td>
					<td>{{game.awayTeamName}}</td>
					<td>{{game.awayTeamChance}}</td>
				</tr>
			</tbody>
		</table>		
	</div>
</div>



<!--<table *ngFor="let game of games" id="maintable">
                <tr>
                    <th>Win %</th>
                    <th>Home team</th>
                    <th>Away team</th>
                    <th>Win %</th>
                </tr>
                <tr>
                    <td>{{game.homeTeamChance}}</td>
                    <td>{{game.homeTeamName}}</td>
                    <td>{{game.awayTeamName}}</td>
                    <td>{{game.awayTeamChance}}</td>
                </tr>
            </table>
			
			<td>Win %</td>
					<td>Home team</td>
					<td>Away team</td>
					<td>Win %</td>
			
			-->