table, td {
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    margin: 1px auto;
    background-color: #fff;
    color: #000;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    font-weight: bold;
}

th {
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 30px; 
}

.gamesComponentDiv {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.gameBackgroundDiv {
    /*background-color: rgba(199, 15, 39, 0.93);*/
    background-color: #fff;
    display: inline-block;
    text-align: center;
    width: 60%;
    height: 100%;
    border-radius: 5px;
}

#maintable {
    margin: 50px auto;
    text-align: center;
}