/* You can add global styles to this file, and also import other style files */
.backgroungImage {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}


.mainContent {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
/*
blackhawks red: #c70f27;
*/