<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	
	<h:outputStylesheet name="css/games.css" />
	<h:form>
		<p:panel styleClass="gameBackgroundPanel">
			<h:panelGrid id="gamesPanelGrid" styleClass="gamesPanelGrid">
				<p:dataTable id="gamesList" var="game" value="#{teamStatController.games}" styleClass="gamesList">
					<p:column headerText="Win %" styleClass="gamesListColumn">
						<h:outputText value="#{game.homeTeamChance}" styleClass="gamesOutputText"></h:outputText>
					</p:column>
					<p:column headerText="Home team" styleClass="gamesListColumn">
						<h:outputText value="#{game.homeTeamName}" styleClass="gamesOutputText"></h:outputText>
					</p:column>
					<p:column headerText="Away team" styleClass="gamesListColumn">
						<h:outputText value="#{game.awayTeamName}" styleClass="gamesOutputText"></h:outputText>
					</p:column>
					<p:column headerText="Win %" styleClass="gamesListColumn">
						<h:outputText value="#{game.awayTeamChance}" styleClass="gamesOutputText"></h:outputText>
					</p:column>
				</p:dataTable>	
			</h:panelGrid>
			<p:ajaxExceptionHandler type="javax.faces.application.ViewExpiredException" onexception="handleSessionExpired();" />
		</p:panel>
	</h:form>
</ui:composition>